/* h1 is Element Selector */

h1 {
  color: purple;
  text-align: center;
  /* background-color: yellow; */
}

p {
  color: maroon;
}
/* "." indicates class */
.para1 {
  background-color: yellow;
  text-align: justify;
}
/* "#" indicates id */
#para2 {
  background-color: lightblue;
}

#para3 {
  background-color: lightyellow;
}
