#container {
    border: 4px solid black;
    height: 200px;
    width: 500px;
    margin: auto;
    display: flex; /*turns on flexbox for the container*/
    flex-direction: row; /* arranges the items in a row horizontally */
  
    /*evenly distribute the space between the items*/
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
  }
  
  .item {
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .item1 {
    background-color: violet;
  }
  .item2 {
    background-color: indigo;
  }
  .item3 {
    background-color: blue;
  }
  .item4 {
    background-color: aqua;
  }
  .item5 {
    background-color: darkgray;
  }
  .item6 {
    background-color: gold;
  }
  .item7 {
    background-color: lightyellow;
  }
  