/* element selector */
h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* id selector */
#form {
  border: 2px solid blueviolet;
  padding: 30px;
  width: fit-content;
  margin: auto;
  background-color: aqua;
}

/* attribute selector */
input[type="submit"] {
  color: red;
  background-color: pink;
}
