body {
    background-color: rgba(128, 128, 128, 0.243);
  }
  .todo-container {
    /*
        border: 2px solid black; */
    background-color: white;
    text-align: center;
    width: fit-content;
    padding: 2rem;
    margin: auto;
    margin-top: 14rem;
  }
  
  button {
    background-color: green;
    color: white;
    padding: 0.5rem;
    font-size: 20px;
  }
  
  input {
    padding: 0.5rem;
    font-size: 20px;
  }
  
  button:hover {
    background-color: rgba(32, 99, 32, 0.706);
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li span {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  li .edit-btn,
  li .delete-btn {
    background-color: #ffc107;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  li .delete-btn {
    background-color: #dc3545;
  }
  
  li .edit-btn:hover {
    background-color: #e0a800;
  }
  
  li .delete-btn:hover {
    background-color: #c82333;
  }
  